/* Box Model Hack */
* {
  -moz-box-sizing: border-box; /* Firexfox */
  -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
  box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

body{
  background-color: #fff;
}

.large-container{
  height:900px;
  width:90%;
  background-color: #fff;
  float:left;
}

/*--------------------------------Header Start-------------------------------*/
header{
  background-color: white;
  height:50px;
  z-index: 1;
  padding-top: 10px;
  padding-left:190px;
  padding-right:30px;
}

h1{
  letter-spacing: 0.04em;
  display:block;
  float:left;
  font: 320 35px/1 sans-serif,monospace;
  color: #33b4b7;
}

#reset-all {
  background-color: #EAEAEA;
  padding:7px 12px;
  border:#2e2d2c solid 0.5px;
  color:#2e2d2c;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
  font-family: Helvetica, sans-serif;
  float:right;
}

#reset-all:hover {
  background-color: #dd565c;
  color:#fff;
}
/*--------------------------------Header End-------------------------------*/
/*--------------------------------Form Start-------------------------------*/

.data-section{
  width:100%;
  height:150px;
  margin-top:3px;
  border-top:0.5px #EAEAEA solid;
  display:block;
}
/*--------------------------------Side Start-------------------------------*/
.h2-bin{
  text-transform: uppercase;
  height:100%;
  width:200px;
  letter-spacing: 1px;
  background-color:#fff;
  text-align:right;
  font-family: sans-serif;
  padding-top: 2px;
  padding-right: 5px;
  display: inline-block;
  float: left;
  margin-right: 7px;
}

h2{
  font:300 20px/1.2 Work Sans,sans-serif;
  color:#2e2d2c;
  text-transform: uppercase;
}

#reset{
  background-color: #EAEAEA;
  padding:5px 5px;
  color:#33b4b7;
  cursor: pointer;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 8px;
  font-weight: bold;
  display:block;
  width:45px;
  float:right;
}
/*--------------------------------Side End-------------------------------*/

.fields-bin{
  height:100%;
  float:left;
  padding-top: 4px;
  margin-right:20px;
}

.row-3{
  height:33.333333%;
  line-height: 200%;
  vertical-align: middle;
}

input[type="text"], input[type="date"], label {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #f7f7f7;
  border: 1px solid #f7f7f7;
  border-radius: 0;
  box-sizing: border-box;
  font-size: 14px;
  height: 40px;
  font-family: 'Roboto','Noto Sans',sans-serif;
  padding:5px 10px;
  transition: border-color .35s cubic-bezier(.23,1,.32,1);
  margin-bottom: 5px;
  letter-spacing: 0.7px;
}

.add,.remove{
  color: #33b4b7;
  font-size:20px;
  cursor: pointer;
  font-family: Helvetica, sans-serif;
}

.remove{
  display:none;
}

#purpose,#comments{
  display:block;
}

#purpose span, #comments span{
  display: block;
  margin-bottom: 10px;
}

#large-field{
  width:80%;
  height:100px;
}
/*--------------------------------Model Start-------------------------------*/
.sec-head {
  display: inline-block;
  margin-bottom: 5px;
}

select {
  width:83px;
  height:40px;
  padding:5px 15px;
  display: inline-block;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  font-size: 14px;
  line-height: 20px;
  cursor: pointer;
  margin-bottom: 5px;
  border-radius:1px;
  border:none;
}
select:required:invalid {
  color: gray;
}
 .input-size{
  width:100px;
 }

.number-size{
  width:50px;
}

 .rad-cond{
  display: none;
}

.checkmark{
  display:block;
}
